.header{
    display: none;
}

.main{
    
    &__unleash{
        padding: 38px 0 130px 34px;
    } 
    &__nav-menu{
        background-image: url(../img/headermenuitem.svg);
        width: 56px;
        height: 56px;
    }
    &__item, &__item1, &__item2, &__item3{
        display: none;
    }
    &__unleash-title{
        width: 521px ;
        margin-top: 179px;
    }
}
.meet{
    padding: 101px 0 102px 33px;
}

.project{
    padding: 52px 33px 122px 33px;
    &__section-1{
        width: 703px;
    }
    &__section-4{
        display: none;
    }
}
.design{
    padding: 82px 0 129px 32px;
    &__title{
        width: 704px;
    }
    &__title::before{
        content: '';
        top: 25%;
        left:35% ;
    }
    &__frame-18{
        width: 704px;
    }
    &__rect-6{
        width: 336px;
    }
    &__rect-7{
        width: 336px;
    }
    &__section::before{
        content: '';
        bottom:4% ;
        left: 12%;
    }


}
.design::after{
    content: '';
    top: 56%;
    right: 3%;
}
.good{
    padding: 274px 27px 294px 27px ;
    &__text{
        width: 704px;
    }
}
.footer{
    padding:96px 22px 35px 32px ;
    &__border{
       padding: 10px 20px  ; 
    }
    &__img::before{
        content: '';
        
    }
}
