.header{
    display: none;
}

.main{
    
    &__unleash{
        padding: 27px 0 149px 17px;
    } 
    &__nav-menu{
        background-image: url(../img/headermenuitem.svg);
        width: 56px;
        height: 56px;
    }
    &__item, &__item1, &__item2, &__item3{
        display: none;
    }
    &__unleash-title{
        width: 319px ;
        margin-top: 179px;
        font-size: 48px;
    }
}
.meet{
    padding: 72px 0 76px 16px;
    &__subtitle{
        width: 320px;
    }
}

.project{
    padding: 52px 21px 85px 16px;
    &__section-1{
        width: 320px;
    }
    &__text{
        width: 311px;
    }
    &__section{
        display: flex;
        flex-direction: column;
    }
    &__section-4{
        display: none;
    }
}
.design{
    padding: 58px 0 93px 16px;
    &__title{
        width: 318px;
        font-size: 36px;
    }
    &__title::before{
        content: '';
        top: 15%;
        left:15% ;
    }
    &__frame-18{
        width: 300px;
        height: 325px;
    }
    &__rect-6{
        width: 300px;
    }
    &__rect-7{
        width: 300px;
    }
    &__section{
        display: flex;
        flex-direction: column;
    }
    &__section::before{
        content: '';
        bottom:50% ;
        left: 15%;
    }


}
.design::after{
    content: '';
    top: 70%;
    right: 3%;
}
.good{
    padding: 180px 16px 173px 16px ;
    &__text{
        width: 305px;
        font-size: 24px;
    }
}
.footer{
    padding:53px 16px 40px 15px ;
    &__border{
       padding: 4px 3px  ; 
    }
    &__img::before{
        content: '';
        width: 50px;
        height: 51px;
        background-size: cover;
        
    }
    
    &__img{
        gap: 20px;
    }
    &__title{
        font-size: 20px;
        margin-bottom: 4px;
    }
    &__text{
        font-size: 15px;
    }
}