.footer{
    background-color: #202020 ;
    padding: 78px 195px 30px 195px;
    &__link{
        text-decoration: none;
        
    }
    &__border{
        border: 1px solid #F2F2F2;
        border-radius: 139px;
        padding: 42px 137px;
       
        
    }
    &__img{
        display: flex;
        align-items: center;
        gap: 45px;


    }
    &__img::before{
        content: '';
        display: inline-block;
        background-image: url(../img/Dawn.png);
        width: 108px;
        height: 108px;
       
    }
    &__title-text{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        
        
    }
    &__title{
        color: #FFF;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 17px;
       
    }
    &__text{
       display: inline-block;
        color: #FFF;
        font-family: Manrope;
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        
    }
    &__text::after{
    content: '';
    display: inline-block;
    background-image: url(../img/Group2.svg);
    width: 57px;
    height: 26px;
    margin-left: 24px;
    }
   
    &__nav-menu{
        margin-top: 163px;
        display: flex;
        justify-content: center;
        list-style:none;
        gap: 34px;
       

    }
    &__item-twit{
        background-image: url(../img/twitch.svg);
        width: 24px;
        height: 24px;

    }
    &__item-twi{
        background-image: url(../img/twitter.svg);
        width: 24px;
        height: 24px;


    }
    &__item-inst{
        background-image: url(../img/instagram.svg);
        width: 24px;
        height: 24px;

    }
    &__item-lin{
        background-image: url(../img/linkedin.svg);
        width: 24px;
        height: 24px;


    }
    &__sobtitle{
        display: flex;
        justify-content: center;
        margin-top: 21px;
    }
    &__copyright{
        color: #FFF;
        font-size: 16px;
        font-family: Manrope;
        font-weight: 500;
       
    }
    &__copyright::after{
        content: ' \000A9 ';
    }
    &__syeda{
        color: #FFF;
        font-size: 16px;
        font-family: Manrope;
        font-weight: 500;
    }
}