.header{
    background-color: #202020;
    display: flex;
    padding: 18px 195px;
    justify-content: space-between;
    align-items: center;
    gap: 397px;
    position: sticky;
    top: 0;
    z-index: 1;

    &__nav-menu{
        display: flex;
        align-items: center;
        align-content: center;
        gap: 20px;
    }
    &__item, &__item1, &__item2, &__item3{
        border: 1px solid #FFF ;
        border-radius: 20px;
        padding: 10px 16px;
        text-transform: none;
        list-style:none ;
        align-items: center;
        display: flex;
        gap: 12px;
    }
    
    &__item::before{
        content: '';
        display: inline-block;
        background-image: url(../img/fi-rr-magic-wand.svg);
        width: 16px;
        height: 16px;
    }
    &__item1::before{
        content: '';
        display: inline-block;
        background-image: url(../img/fi-rr-document.svg);
        width: 16px;
        height: 16px;
    }
    &__item2::before{
        content: '';
        display: inline-block;
        background-image: url(../img/fi-rr-flower-tulip.svg);
        width: 16px;
        height: 16px;
    }
    &__item3::before{
        content: '';
        display: inline-block;
        background-image: url(../img/fi-rr-comment-heart.svg);
        width: 16px;
        height: 16px;
    }
    &__link{
        
        text-decoration: none;
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
    }
}