.main{
   

      &__unleash{
        background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
        padding:  41px  195px 119px;
        
      }
      &__logo-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__nav-menu{
        display: flex;
        align-items: center;
        align-content: center;
        gap: 20px;
      }
      &__item, &__item1, &__item2, &__item3{
        border: 1px solid #FFF ;
        border-radius: 20px;
        padding: 10px 16px;
        text-transform: none;
        list-style:none ;
       
        align-items: center;
        display: flex;

        gap: 12px;
    }
    &__item::before{
        content: '';
        display: inline-block;
        background-image: url(../img/fi-rr-magic-wand.svg);
        width: 16px;
        height: 16px;
    }
    &__item1::before{
        content: '';
        display: inline-block;
        background-image: url(../img/fi-rr-document.svg);
        width: 16px;
        height: 16px;
    }
    &__item2::before{
        content: '';
        display: inline-block;
        background-image: url(../img/fi-rr-flower-tulip.svg);
        width: 16px;
        height: 16px;
    }
    &__item3::before{
        content: '';
        display: inline-block;
        background-image: url(../img/fi-rr-comment-heart.svg);
        width: 16px;
        height: 16px;
    }
    &__link{
        text-decoration: none;
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
    }
    &__unleash-title{
        color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-weight: 700;
        margin-top: 401px;
        width: 846px;
    }

    
    
}

                //---------MEET------------//
.meet{
    background-color: #202020;
    padding: 101px 0 101px 195px;
    
    
    &__text{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title{
        color: #FAEB49;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;
       
    }
    &__subtitle{
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        width: 524px;
    }
    &__nomer-resultat{
      display: flex;
       gap: 96px;
    }
    &__resultat, &__resultat1, &__resultat2{
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
        display: inline;
    }
    &__resultat::before{
        content: '39';
        color: #FFF;
        font-weight: 700;
        font-family: DynaPuff;
        font-size: 48px;
        margin-bottom: 5px;
        display: block;
    }
    &__resultat1::before{
        content: '50';
        color: #FFF;
        font-weight: 700;
        font-family: DynaPuff;
        font-size: 48px;
        margin-bottom: 5px;
        display: block;
    }
    &__resultat2::before{
        content: '24';
        color: #FFF;
        font-weight: 700;
        font-family: DynaPuff;
        font-size: 48px;
        margin-bottom: 5px;
        display: block;
    }
   
}

                      //---------PROJECT------------//

 .project{
    background-color: #3C3C3C;
    padding: 86px 195px 86px 195px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    &__section-1{
        padding: 20px;
        border: 1px solid #FFFEF2;
        border-radius: 24px;
        background-color: #FFFEF2;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    
        
    }
    &__section-2, &__section-3, &__section-4{
        padding: 20px;
        border: 1px solid #FFFEF2;
        border-radius: 24px;
        background-color: #FFFEF2;
        display: inline-block;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
    }
    &__section-2::after{
        content: '';
        background-image: url(../img/fi-rr-arrow-up.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 56px;
        height: 56px;
        position: absolute;
        border: 1px solid #FFF ;
        background-color: #FFF;
        border-radius: 50%;
        left: 70%;
        top: 6%;
    }
    &__section-3::after{
        content: '';
        background-image: url(../img/fi-rr-arrow-up.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 56px;
        height: 56px;
        position: absolute;
        border: 1px solid #FFF ;
        background-color: #FFF;
        border-radius: 50%;
        left: 70%;
        top: 6%;
    }
    &__section-4::after{
        content: '';
        background-image: url(../img/fi-rr-arrow-up.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 56px;
        height: 56px;
        position: absolute;
        border: 1px solid #FFF ;
        background-color: #FFF;
        border-radius: 50%;
        left: 70%;
        top: 6%;
    }
    &__title{
        color: #565656;
        font-family: DynaPuff;
        font-size: 40px;
        font-weight: 600;
    }
    &__text{
        width: 580px;
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
    }
    &__section{
        display: flex; 
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 63px;
    }
    
    &__title-1{
        color: #565656;
        font-family: DynaPuff;
        font-size: 22px;
        font-weight: 700;
    }
    &__text-1{
        width: 285px;
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;

    }
   
 }

         //---------Graphics Design ------------//
         .design{
            background-color: #202020;
            padding: 82px 195px 138px 195px ;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            
            &__title{
                
                color: #FFF;
                font-family: DynaPuff;
                font-size: 80px;
                font-weight: 700;
                margin-bottom: 38px;
            }
           
            
            &__frame-18{
               margin-bottom: 26px;
                width: 1055px;
                
            }
            &__title::before{
                content: '';
                background-image: url(../img/star.svg);
                background-repeat: no-repeat;
                position: absolute;
                top: 22%;
                left:44% ;
                width: 268px;
                height: 268px;
            }
            &__section::before{
                content: '';
                background-image: url(../img/Butterfly.svg);
                width: 268px;
                height: 268px;
                background-repeat: no-repeat;
                position: absolute;
                bottom:17% ;
                left: 15%;
            }
            &__section{
                display: flex; 
                justify-content: center;
                align-items: center;
                gap: 26px;
                position: relative;
            }
        
         }
         .design::after{
            content: '';
            background-image: url(../img/Asterisk.svg);
            
            width: 268px;
            height: 268px;
            background-repeat: no-repeat;
            position: absolute;
            top: 60%;
            right: 27%;
         }


          //---------Good design ------------//
          .good{
           background-image: url(../img/Rectangl8.jpg);
           padding: 303px 191px 323px 190px;
           text-align: center;
            &__text{
                text-align: center;
                color: #FFF;
                font-family: DynaPuff;
                font-size: 48px;
                font-weight: 700;
                width: 1059px;
            }
          }
        